/* Шапка */

.header {
    background-color: #FFA500;
    padding: 20px;
    text-align: center;
}

.header .logo {
    width: 200px;
}

.header .main-nav {
    margin-top: 20px;
}

.header .main-nav .nav-item {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
}

.header .main-nav .nav-item.active {
    background-color: #FFFFFF;
    color: #FFA500;
}

/* Основная часть */

.main {
    padding: 20px;
}

.page-title {
    text-align: center;
}

.page-title h1 {
    font-size: 30px;
}

.articles-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.articles-list__items {
    display: flex;
    flex-wrap: wrap;
}

.articles-list__item {
    margin: 10px 0;
}

.articles-list__item a {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #00C5FF;
}

.articles-list__item a:hover {
    background-color: #FFFFFF;
    color: #00C5FF;
}

/* Подвал */

.footer {
    background-color: #00C5FF;
    padding: 20px;
    text-align: center;
}

.footer .copyright {
    margin-top: 20px;
}

.footer .links {
    margin-top: 20px;
}

.footer .links a {
    color: #FFFFFF;
}
